<% @title = "Rinrin's Land" %>

<h1>Rinrin's Land</h1>
<p>Welcome to Rinrinnchi, a.k.a Rinrin's dream land!</p>

<p>
  Go to my shop:
  <%= link_to "Rinrin's Shop", shop_path %>
</p>
<p>
  Go to my blog:
  <%= link_to "Rinrin's Blog", blog_path %>
</p>