<%= form_for(@category) do |f| %>
    <div class="field">
      <%= f.label :category_name %><br>
      <%= f.text_area :name %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>